body {
	background-color: #ffffff;
	margin: 0% 0%;
}

.main-menu {
	justify-content: space-between;
	display: flex;
	flex: 1;
}

.main-menu a {
	color: rgba(32, 32, 32, 1);
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
}

.main-img {
	padding: 10% 0%;
	width: 100%;
}